<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTestTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedCachedIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E8D62DA2A028DC70078F6A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E938DEB2A126217009C1B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E96CD1D29F2BFCE00FC2C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E96CD2729F2BFCE00FC2C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED9C3852A12CE2F004E0324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ED9C38E2A12CE30004E0324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
